.menusH, .menusH i{
    z-index: 1;
}

.profileH{
    position: absolute;
    z-index: 1;
}

.bookmarkContainerH{
    display: flex;
    gap: 1rem;
}

.bookmarkTitleH h1{
    font-size: 1.6rem;
    font-weight: 600;
    padding-left: .4rem;
}

.bookmarkLeftH{
    padding-top: 4rem;
    background-color: #8f00ff;
    border: 1px solid blue;
    height: 100vh;
    width: 46vw;
}

.bookmarkCateH{
    margin-top: 1rem;
}

.bookmarkCateH h1{
    font-size: 1.2rem;
    font-weight: 500;
    height: 2rem;
    margin-bottom: 1rem;
    margin-left: .4rem;
}

/*---------------------------------- Bookmark Right -------------------------------- */
.bookmarkRightH{
    margin: 8rem 0 0 0;
    background-color: #8f00ff;
    border: 1px solid blue;
    align-self: flex-start;
    width: 45vw;
}

.bookmarksH{
    padding: .4rem;
}

.bookmarksH h1{
    font-size: 1.2rem;
    font-weight: 600;
}

.bookmarksH h2{
    font-size: 1.1rem;
    font-weight: 500;
}

.bookmarksH p{
    font-size: 1rem;
    font-weight: 500;
}