.profileH{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    gap: calc(100vw - 14rem);
    margin-top: 2rem;
    justify-content: space-around;
    z-index: 2;
}

.profileLogoH{
    background-color: black;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileLogoH i{
    font-size: 2rem;
    color: #b29cee;
}

.profileH p{
    position: absolute;
    top: 3.2rem;
    font-size: 1.1rem;
    font-weight: 500;
}

/*-------------------------------------Menu----------------------------------------*/
.menusH{
    height: 6rem;
    width: 100%;
    background-color: black;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.menusH i{
    font-size: 2rem;
    color: #b29cee;
}

.menusH p{
    font-size: .8rem;
    color: #c8c8c8;
    margin-top: 0.2rem;
}

.homeHoH, .routeHoH, .trackHoH, 
.bookmarkHoH, .scheduleHoH{
    margin-top: 1.2rem;
    height: 9vh;
    width: 18vw;
    display: grid;
    place-items: center;
    border-radius: 4rem 4rem 4rem 4rem;
    cursor: pointer;

    &:hover{
        background-color: #B29CEE;
    }

    &:hover i{
        color: black;
    }

    &:hover p{
        display: none;
    }
}

.homeHoH a, .routeHoH a, .trackHoH a, 
.bookmarkHoH a, .scheduleHoH a{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


