.profileH{
    display: flex;
    position: fixed;
    gap: calc(100vw - 11.5rem);
    margin: 1rem 1rem 0 1rem;
    z-index: 2;
}

.profileLogoH{
    background-color: black;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileLogoH i{
    font-size: 2rem;
    color: #b29cee;
}

.profileH p{
    position: absolute;
    top: 3.2rem;
    font-size: 1.1rem;
    font-weight: 500;
}

/*-------------------------------------Menu----------------------------------------*/
.menusH{
    height: 6rem;
    width: 100vw;
    /* margin-top: calc(100vh - 10.8rem); */
    background-color: black;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
}

.menusH i{
    font-size: 2rem;
    color: #b29cee;
}

.menusH p{
    font-size: .8rem;
    color: #c8c8c8;
    margin-top: -.7rem;
}

.homeHoH, .routeHoH, .trackHoH, 
.bookmarkHoH, .scheduleHoH{
    margin-top: 1.2rem;
    height: 9vh;
    width: 18vw;
    display: grid;
    place-items: center;
    border-radius: 4rem 4rem 4rem 4rem;

    &:hover{
        background-color: #B29CEE;
    }

    &:hover i{
        color: black;
    }

    &:hover p{
        display: none;
    }
}


