.routeLeftH{
    /* margin-top: 1rem; */
    padding-top: 4rem;
    background-color: #8f00ff;
    border: 1px solid blue;
    height: calc(100vh);
    width: 50vw;
    position: relative;
    z-index: 1;
}

.routeLeftH input{
    height: 1rem;
    width: 9rem;
    margin: .4rem 0 0 .4rem;
}

.routeCateH{
    margin-top: 1rem;
}

.profileH{
    z-index: 2;
}

.menusH, .menusH i{
    z-index: 1;
}

.routeCateH h1{
    font-size: 1.2rem;
    font-weight: 500;
    height: 2rem;
    width: 10rem;
    margin-bottom: 1rem;
    margin-left: .4rem;
}